<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="ServerName" value="192.168.0.2" />
    <add key="ServerDB" value="FRIOSILLA" />
    <add key="ServerPort" value="1433" />
    <add key="ServerUser" value="sa" />
    <add key="ServerPassword" value="" />
    <!--<add key="ServerName" value="10.0.2.15" />
    <add key="ServerDB" value="FRIOSILLA" />
    <add key="ServerPort" value="1433" />
    <add key="ServerUser" value="root" />
    <add key="ServerPassword" value="root" />-->
    <add key="ServerExtraParams" value="" />
    <add key="FtpServerIp" value="192.168.0.2" />
    <add key="FtpServerPort" value="21" />
    <add key="FtpServerUser" value="pda" />
    <add key="FtpServerPassword" value="pda" />
    <add key="FtpLicenseOwner" value="" />
    <add key="FtpLicenseKey" value="" />
    <add key="ConnectAtStart" value="true" />
    <add key="DeleteOldCodes" value="true" />
    <add key="BarcodeDevice" value="0" />
    <add key="SoundEnabled" value="true" />
    <add key="ScanContinuous" value="false" />
    <add key="ScanTimeout" value="5000" />
    <add key="ScanDataSize" value="1024" />
    <add key="ScanOnlyDataMatrix" value="true" />
    <add key="SendByFtp" value="true" />
    <add key="WriteLog" value="true" />
    <add key="DataFolder" value="Datos" />
    <add key="MaxQueries" value="100" />
    <add key="MaxQueriesTimeout" value="1000" />
    <add key="InsertProcedureName" value="dbo.InsertarBarCode" />
    <add key="QuerySelectPale" value="SELECT * FROM dbo.PalesConCajasPendientes ORDER BY COD_PAL" />
  </appSettings>
</configuration>